<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.example.demo.entity"/>
    </typeAliases>
    <mappers>
        <mapper resource="com.example.demo.mapper/UserMapper.xml"/>
        <mapper resource="com.example.demo.mapper/MembershipMapper.xml"/>
        <mapper resource="com.example.demo.mapper/CenterMapper.xml"/>
        <mapper resource="com.example.demo.mapper/CommunityMapper.xml"/>
        <mapper resource="com.example.demo.mapper/CommentMapper.xml"/>
    </mappers>
</configuration>
