<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CenterMapper">

    <insert id="infoInsert" useGeneratedKeys="true" keyProperty="id">
        insert into CENTER (name, address, info, phoneNumber)
        values
            (#{name}, #{address}, #{info}, #{phoneNumber})
    </insert>




    <resultMap  id="findByCenterName"  type="Center">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="address" column="address" />
        <result property="info" column="info" />
        <result property="phoneNumber" column="phoneNumber" />
        <collection property="fileName" ofType="string">
               <result column="fileName"></result>
        </collection>
    </resultMap>

</mapper>