<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CommentMapper">

    <insert id="addComment">
        insert into COMMENT (boardId, writer, content)
        values
            (#{boardId}, #{writer}, #{content})
    </insert>

    <select id="findAllByBoardId" resultType="Comment">
        select * from COMMENT
        where boardId = #{boardId}
        order by inserted desc
    </select>

    <update id="updateComment">
        update COMMENT
        set
            content = #{content}
        where
            boardId = #{boardId}
                and
            writer = #{writer}
                and
            id = #{commentId}
    </update>

    <delete id="deleteComment">
        delete from COMMENT
        where
            boardId = #{boardId}
                and
            writer = #{writer}
                and
            id = #{commentId}
    </delete>

</mapper>

