<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CommunityMapper">

    <insert id="createBoard" useGeneratedKeys="true" keyProperty="id">
        insert into COMMUNITY (title, content, writer)
        values
            (#{title}, #{content}, #{writer})
    </insert>

    <select id="findById" resultType="Community">
        select * from COMMUNITY
        where id = #{boardId}
    </select>

    <select id="findAll" resultType="Community">
        select * from COMMUNITY
        <if test="sort eq 'id'">
            order by id desc
        </if>

        <if test="sort eq 'like'">
            order by likeCount desc
        </if>

        <if test="sort eq 'comment'">
            order by commentCount desc
        </if>

        <if test="sort eq 'view'">
            order by viewCount desc
        </if>


    </select>

    <select id="findAllSortByLike" resultType="Community">
        select * from COMMUNITY
        order by likeCount desc
    </select>

    <select id="findAllSortByComment" resultType="Community">
        select * from COMMUNITY
        order by commentCount desc
    </select>

    <select id="findAllSortByView" resultType="Community">
        select * from COMMUNITY
        order by viewCount desc
    </select>

    <update id="updateLikeUp">
        update COMMUNITY
        set
            likeCount = likeCount + 1
        where id = #{boardId}
    </update>

    <update id="updateLikeDown">
        update COMMUNITY
        set
            likeCount = likeCount - 1
        where id = #{boardId}
    </update>

    <update id="viewCount">
        update COMMUNITY
        set
            viewCount = viewCount + 1
        where id = #{boardId}
    </update>

</mapper>

