<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MembershipMapper">

    <insert id="createMembership" useGeneratedKeys="true" keyProperty="membershipId">
        insert into MEMBERSHIP (memberId, startDate, endDate, remainingPT)
        values
            (#{memberId}, #{startDate}, #{endDate}, #{remainingPT})
    </insert>

    <select id="findByMembershipId" resultType="Membership">
        select * from MEMBERSHIP
        where
            membershipId = #{membershipId}
    </select>

    <select id="findByMemberId" resultType="Membership">
        select * from MEMBERSHIP
        where
            memberId = #{memberId}
    </select>

    <update id="updateMembership">
        update MEMBERSHIP
        set
            endDate = #{endDate},
            remainingPT = #{remainingPT}
        where
            memberId = #{memberId}
    </update>

    <update id="updateMember">
        update MEMBER
        set
            centerId = #{centerId},
            trainerId = #{trainerId}
        where
            id = #{memberId}
    </update>

    <select id="findCenters" resultType="Center">
        select id, name from CENTER
    </select>

    <select id="findTrainers" resultType="Trainer">
        select t.id, m.name from TRAINER t
            join MEMBER m on t.memberId = m.id
        where t.centerId = #{centerId}
    </select>

</mapper>

