<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MembershipMapper">

    <insert id="createMembership" useGeneratedKeys="true" keyProperty="membershipId">
        insert into MEMBERSHIP (memberId, startDate, endDate, remainingPT)
        values
            (#{memberId}, #{startDate}, #{endDate}, #{remainingPT})
    </insert>

    <select id="findById" resultType="Membership">
        select * from MEMBERSHIP
        where memberId = #{memberId}
    </select>

    <select id="findAll" resultType="Membership">
        select * from MEMBERSHIP
    </select>

    <update id="update">
        update MEMBERSHIP
        set
            endDate = #{endDate},
            remainingPT = #{remainingPT}
        where memberId = #{memberId}
    </update>
</mapper>

