<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <resultMap id="memberResultMap" type="User">
        <id property="id"           column="id"/>
    </resultMap>
    <select id="getUser" resultMap="memberResultMap">
        SELECT *
        FROM MEMBER
    </select>
</mapper>